@charset "UTF-8";

/*Tela médias*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top left, #9CD3DA, #2C97D0);
    }
    
    .container {
        width: 80%;
        height: 520px;
    }

    section#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    section#formulario {
        float: right;
        width: 60%;
        height: 100%;
        padding: 30px;
        border-top-left-radius: 0px;
    }

    .campo input {
        height: 50px;
    }

    #formulario h1 {
        margin-bottom: 30px;
    }

    .botao {
        height: 50px;
    }
}

/*telas grandes*/
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top left, #9CD3DA, #2C97D0);
    }

    .container {
        width: 60%;
        height: 520px;
    }

    section#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#formulario {
        float: left;
        width: 50%;
        height: 100%;
        padding: 30px;
        border-top-left-radius: 0px;
    }

    .campo input {
        height: 50px;
    }

    .botao {
        height: 50px;
    }
}